In [1]:
import os
import datetime

import IPython
import IPython.display
import pandas as pd
import numpy as np

stat_path = input("Enter path to daily detailed statistics: ")

lab_path = input("Enter path to daily lab testing figures:")

vacc_path = input("Enter path to daily vaccination figures")

boost_path = input("Enter path to daily booster figures: ")

In [2]:
owd_path = input("Enter path to Our World in data file: ")

Enter path to Our World in data file: /Users/simonmclain/Documents/Documents/Software Development with AI/Semister 4/Engineering Team Project/TUS-Engineering-Team-Project/Data

In [3]:
filename = '/owid-covid-data.csv'

In [4]:
path = owd_path + filename

In [5]:
df = pd.read_csv(path)

In [6]:
#df.location.unique()

In [7]:
df_irl = df.location.isin(['Ireland'])

In [8]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,24/02/2020,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,25/02/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,26/02/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,27/02/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,28/02/2020,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [9]:
df = df[df_irl]

In [10]:
df["date"] = pd.to_datetime(df["date"], format="%d/%m/%Y")

In [11]:
df.shape

(717, 67)

In [12]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [13]:
df.reset_index(inplace=True)

In [14]:
df.drop(columns=['iso_code', 'continent','weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'location','tests_units','handwashing_facilities'], inplace=True)

In [15]:
df.drop(columns=['index'], inplace=True)

In [16]:
df.drop(df.index[:10], inplace=True)

In [17]:
df=df.fillna(0)

In [18]:
df.shape

(707, 58)

In [19]:
google_df = pd.read_excel("GoogleData.xlsx")

In [20]:
df_merged = pd.merge(df, google_df, left_on="date", right_on="Week", how="outer")

In [21]:
df_merged.drop(df_merged.index[:5], inplace=True)

In [22]:
df_merged.head(10)

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,book covid test: (Ireland)_y,covid test dublin: (Ireland),covid test centre: (Ireland),hse covid vaccine: (Ireland),hse vaccine portal: (Ireland),hse portal vaccine: (Ireland),pcr test hse: (Ireland),hse covid test: (Ireland),hse vaccine registration: (Ireland),how long will it take to vaccinate ireland: (Ireland)
5,2020-03-15,129.0,0.0,15.714,2.0,0.0,0.286,25.889,0.000,3.154,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
6,2020-03-16,169.0,40.0,21.143,2.0,0.0,0.286,33.916,8.027,4.243,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,2020-03-17,223.0,54.0,27.000,2.0,0.0,0.286,44.753,10.837,5.419,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,2020-03-18,292.0,69.0,35.571,2.0,0.0,0.143,58.600,13.847,7.139,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,2020-03-19,557.0,265.0,73.429,3.0,1.0,0.286,111.782,53.182,14.736,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,2020-03-20,683.0,126.0,84.714,3.0,0.0,0.286,137.069,25.286,17.001,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11,2020-03-21,785.0,102.0,93.714,3.0,0.0,0.143,157.539,20.470,18.807,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,2020-03-22,906.0,121.0,111.000,4.0,1.0,0.286,181.822,24.283,22.276,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,2020-03-23,1125.0,219.0,136.571,6.0,2.0,0.571,225.772,43.950,27.408,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
14,2020-03-24,1329.0,204.0,158.000,7.0,1.0,0.714,266.712,40.940,31.708,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [23]:
df_merged.drop(columns=['date','total_cases', 'new_cases','total_deaths', 'new_deaths', 'new_deaths_smoothed',
                        'total_cases_per_million', 'new_cases_per_million',
                        'new_cases_smoothed_per_million', 'total_deaths_per_million',
                        'new_deaths_per_million', 'new_deaths_smoothed_per_million',
                        'icu_patients', 'icu_patients_per_million',
                        'hosp_patients', 'hosp_patients_per_million','total_tests', 
                        'total_tests_per_thousand', 'new_tests_per_thousand',
                        'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 
                        'new_vaccinations_smoothed','hospital_beds_per_thousand',
                        'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
                        'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
                        'new_vaccinations_smoothed_per_million',
                        'new_people_vaccinated_smoothed',
                        'new_people_vaccinated_smoothed_per_hundred',
                        'excess_mortality_cumulative_absolute',
                        'excess_mortality_cumulative', 'excess_mortality',
                        'excess_mortality_cumulative_per_million', 'Unnamed: 0', 'Week',
                       ], inplace=True)

In [24]:
df_merged.head()

,new_cases_smoothed,reproduction_rate,new_tests,positive_rate,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,...,book covid test: (Ireland)_y,covid test dublin: (Ireland),covid test centre: (Ireland),hse covid vaccine: (Ireland),hse vaccine portal: (Ireland),hse portal vaccine: (Ireland),pcr test hse: (Ireland),hse covid test: (Ireland),hse vaccine registration: (Ireland),how long will it take to vaccinate ireland: (Ireland)
5,15.714,2.51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
6,21.143,2.59,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,27.000,2.70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,35.571,2.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,73.429,2.84,946.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [25]:
df_merged.to_excel("preparedData.xlsx", index=False)